<div class="header-main">
  <div class="container">
    <div class="brand-logo">
      <a routerLink="/landing"> <img src="../assets/images/Categories/logo.png"></a>
    </div>
  </div>
</div>


<!-----------Navigation Starts Here-->
<nav class="navbar navbar-expand-sm navbar-light bg1">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  drag" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item poi">
          <a class="nav-link" routerLink="/scrape">Notifications</a>
        </li>
        <li class="nav-item poi">
          <a class="nav-link" routerLink="/scrapereqadmin">Assigned Pickups</a>
        </li>
        <li class="nav-item poi active">
          <a class="nav-link" routerLink="/allotedaggre">Request to Admin</a>
        </li>

        <li class="nav-item poi">
          <a class="nav-link" routerLink="/scrapereqadmin">Request to Aggregator</a>
        </li>


        <li class="nav-item poi">
          <a class="nav-link" (click)="logout()"> Logout</a>
        </li>

      </ul>

    </div>
  </div>
</nav>


<div class="body-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-5 box-container-top disabled">
            <p class="head">Overloaded???Put a request for collecting</p>
            <div class="box left">
              <p class="icon"><i class="fa fa-plus"></i></p>
              <p>Add new request</p>
            </div>
          </div>

          <div class="col-md-2">

          </div>

          <div class="col-md-5 box-container-top">
            <p class="head">Who is picking up your scrap?</p>
            <div class="box right">
              <p class="icon">&nbsp;</p>
              <p>Alloted</p>
            </div>
          </div>


        </div>

      </div>
    </div>

    <div class="row ">
      <div class="col-md-6">
        <div class="row body-box">
          <div class="col-md-8">
            <table class="table borderless">
              <tbody>
                <tr>
                  <td>Aggregator name</td>
                  <td>: Praveen Sinha</td>
                </tr>
                <tr>
                  <td>Company Name</td>
                  <td>: SSS&co.</td>
                </tr>
                <tr>
                  <td>Call@</td>
                  <td>: 2121212121</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4 btn-right">
            <div>
              <button class="btn btn-success">Delivered</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--box starts here -->
    <div class="row ">
        <div class="col-md-6">
          <div class="row body-box">
            <div class="col-md-8">
              <table class="table borderless">
                <tbody>
                  <tr>
                    <td>Aggregator name</td>
                    <td>: Praveen Sinha</td>
                  </tr>
                  <tr>
                    <td>Company Name</td>
                    <td>: SSS&co.</td>
                  </tr>
                  <tr>
                    <td>Call@</td>
                    <td>: 2121212121</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4 btn-right">
              <div>
                <button class="btn btn-default">Delivered</button>
              </div>
            </div>
          </div>
        </div>  
      </div><!--box ends here-->

      <!--box starts here -->
    <div class="row ">
        <div class="col-md-6">
          <div class="row body-box">
            <div class="col-md-8">
              <table class="table borderless">
                <tbody>
                  <tr>
                    <td>Aggregator name</td>
                    <td>: Praveen Sinha</td>
                  </tr>
                  <tr>
                    <td>Company Name</td>
                    <td>: SSS&co.</td>
                  </tr>
                  <tr>
                    <td>Call@</td>
                    <td>: 2121212121</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4 btn-right">
              <div>
                <button class="btn btn-default">Delivered</button>
              </div>
            </div>
          </div>
        </div>  
      </div><!--box ends here-->

      <!--box starts here -->
    <div class="row ">
        <div class="col-md-6">
          <div class="row body-box">
            <div class="col-md-8">
              <table class="table borderless">
                <tbody>
                  <tr>
                    <td>Aggregator name</td>
                    <td>: Praveen Sinha</td>
                  </tr>
                  <tr>
                    <td>Company Name</td>
                    <td>: SSS&co.</td>
                  </tr>
                  <tr>
                    <td>Call@</td>
                    <td>: 2121212121</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4 btn-right">
              <div>
                <button class="btn btn-default">Delivered</button>
              </div>
            </div>
          </div>
        </div>  
      </div><!--box ends here-->


  </div>

</div>
<!--body-container ends-->




<!--
 <div class="table-responsive">

<table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Company Name</th>
          <th scope="col">Aggregator Name</th>
          <th scope="col">Company Address</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Scrap Type</th>
          <th scope="col">Slot</th>
          <th scope="col">Estimated Wt</th>
          <th scope="col">Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of aggreDetails; let idx=index">
          <td>{{i["companyname"]}}</td>
          <td>{{i["username"]}}</td>
          <td>{{i["address"]}}</td>
          <td>{{i["phone"]}}</td>
          <td>{{i["email"]}}</td>
          <td>{{assAggregators[idx]["scraptype"]}}</td>
          <td>{{assAggregators[idx]["slot"]}}</td>
          <td>{{assAggregators[idx]["totalwt"]}} Kgs</td>
          <td>{{assAggregators[idx]["totalamt"]}}</td>
        </tr>
      </tbody>
  </table>
 </div>


-->