
<div class="">
  <footer class="section footer-classic context-dark bg-image bg">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-3 foot ">
  
          <h5>Associates</h5>
  
          <ul class="foot-links">
            <li>Scrap Dealer</li>
            <li>Aggregator</li>
            <li>Recycler</li>
          </ul>
  
  
        </div>
  
        <div class="col-sm-3 foot">
          <h5>Service</h5>
  
          <ul class="foot-links">
            <li>Home</li>
            <li>Shop/Mall</li>
            <li>Institutions</li>
            <li>Banks</li>
            <li>Corporate Office</li>
            <li>Other Business</li>
          </ul>
  
  
        </div>
  
  
        <div class="col-md-6 ">
          <div style="display:flex; flex-direction:column" class="arraneInColumn">
            <ul class="nav-list list float-right">
              <li><a href="#">About us</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">FAQ's</a></li>
            </ul>
            
          <div class="foot-com">
            <h6>Reboxit Pvt. Ltd.</h6>
            <ul class="nav-list list">
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
  
            </ul>
          </div>
        </div>
        </div>
        <!-- <div style="margin-top:1em center" class="bottomSocialMedia">
          <ul class="nav-list list">
            <li class="pi-right"><a href="#"> <img src="../../assets/pngs/instagarm.png" /> </a></li>
            <li class="pi"><a href="#"><img src="../../assets/pngs/facebook.png" /></a></li>
            <li class="pi"><a href="#"> <img src="../../assets/pngs/linkdin.png" /></a></li>
            <li class="pi-right txt-rght"><a href="">Follow Us</a></li>
          </ul>
        </div> -->
      </div>
      <div class="row footer-lower justify-content-md-center">
  
        <div class="col-md-6">
          <ul class="nav-list list">
            <li class="pi-right"><a href="#"> <img src="../../assets/pngs/instagarm.png" /> </a></li>
            <li class="pi"><a href="#"><img src="../../assets/pngs/facebook.png" /></a></li>
            <li class="pi"><a href="#"> <img src="../../assets/pngs/linkdin.png" /></a></li>
            <li class="pi-right txt-rght"><p>Follow Us</p></li>
  
          </ul>
        </div>
  
  
      </div>
    </div>
  </footer>
  
</div>