@keyframes fadeInUp {
    from { 
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  p {
    /* // first we make all instances of this transparent.  */
    opacity: 0; 
    /* // as we're using the same animation for each instance, call it here so we're not repeating it */
    animation: fadeInUp 1s ease-in-out 0s forwards;}
  
    /* // then define the animation delay in each class */
    .first {
      animation-delay: 1s;
    }
    .second {
      animation-delay: 3s;
    }
    .third {
      animation-delay: 5s;
    }
    .fourth {
      animation-delay: 7s;
    }
    .fifth {
      animation-delay: 9s;
    }
    .sixth {
      animation-delay: 11s;
    }
   
  
  /* now add general css for page */
  /* body {
    background: #fff;
    text-align: center;
    font-size: 34px;
    color: #424243;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
  } */
  
  .ll { 
    font-size: 55px;
    padding: 1px 138px 0px 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /* // recolors some of the text */
  .emphasis {
    color: #fb6e67;
  }
  .a:hover{
      background: green;
  }
  .btn-outline-secondary{
      /* background-color: #4ca115; */
  }
  /* .btn.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
} */
  
/* 

body {
    margin: 0px;
    width: 100%;
  }
  .wrap {
    margin: 0px auto;
    width: 486px;
  }
  
  .box {
    width: 160px;
    height: 120px;
    float: left;
    background: #347fc3;
    border: 1px solid #fff;
    overflow: hidden;
  }
  
  .text {
    /* text-align: center;
    margin-top: 56px;
    color: #fff;
    font-size: 1.0em;
    font-family: sans-serif;
    text-transform: uppercase; */
      /* font-size: 55px;
    padding: 1px 138px 0px 0;
    font-family: 'Source Sans Pro', sans-serif;
  } */
/*   
  .animated {
    animation-duration: 2.5s;
    /* animation-fill-mode: both; */
    /* animation-iteration-count: infinite; */
  /* } */ 
/*   
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
  .bounce {
    animation-name: bounce;
  } */
   
h1{
    font-size: 4rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 0 30px 0;
}
/* p{
    font-size: 55px;
    padding: 1px 138px 0px 0;
    font-family: 'Source Sans Pro', sans-serif;

} */
.dd{
    font-size: 55px;
    padding: 1px 0px 0px 0;
    font-family: 'Source Sans Pro', sans-serif;

}

.bg1 {
    background: #3c8a2e;
}

.bg {
    background: url("../../assets/pngs/footer.png") no-repeat bottom right;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: -5px -8.20751px;
    padding: 25px 0;
    margin-top: 50px;
}



/* image blocks */

.clear {
    clear: both;
}

.chead {
    font-size: 50px;
}

.ctext {
    text-align: justify;
}

.cc {
    width: 160px;
    height: 160px;
}

.cc1 {
    border: none;
}

.chead1 {
    padding: 10px;
}

.cmain {
    padding: 50px;
}

.list li {
    display: inline-block;
    padding: 7px 12px;
}

.pi {
    -ms-transform: skewY(20deg);
    /* IE 9 */
    -webkit-transform: skewY(20deg);
    /* Safari 3-8 */
    transform: skewY(20deg);
}

.pi-right {
    -ms-transform: skewY(-15deg);
    /* IE 9 */
    -webkit-transform: skewY(-15deg);
    /* Safari 3-8 */
    transform: skewY(-15deg);
}

.txt-rght{
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
}
/* back ground image /////
.bgim{

    background: url("../../assets/pngs/1.png") no-repeat ;
    width: 100%;
     height: 100vh;
     background-size: cover;
     background-position: top left;
}
*/

.state3 {
    top: 70%;
    transform: translatey(-50%);
    width: 100%;
    max-width: 200px;
    right: 30%;
    left: 0;
    margin: 0 auto;
}

.state4 {
    top: 70%;
    transform: translatey(-50%);
    width: 100%;
    max-width: 200px;
    right: 0;
    left: 35%;
    margin: 0 auto;
}

.pad {
    padding: 19px 45px;
    border: 2px solid white;
}

.state {
    top: 70%;
    transform: translatey(-50%);
    width: 100%;
    max-width: 200px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.book {
    color: white;
    font: 24px;
}

.size {
    font-size: 24px;
    padding: 5px 0 0 0;
}





.space {
    padding: 30px 0 40px;
}

.align {
    display: inline-block;
    border: none;
    padding: 15px;
    text-align: center;
}

.align img {
    width: 80% !important;
    height: 80% !important;
    max-width: 200px;
}

.align p {
    font-size: 1.5rem;
}

.cbr {
    border: 5px solid #005f33;
}

.state1 {
    top: 70%;
    transform: translatey(-50%);
    width: 100%;
    max-width: 200px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.hand1 {
    width: 80%;
    display: inline-block;
    padding: 10px;
    text-align: justify;
}

.img-css {
    padding: 9px 1px 14px 29px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 57px solid transparent;
    border-right: 57px solid transparent;
    border-top: 50px solid black;
    float: right;
}

.container1 {
    width: 768px;
    margin: 0 auto;
}


/* top header css */

.header-main {
    background-color: #fefefe;
}

.header-main .brand-logo {
    width: 100px
}

.header-main .brand-logo img {
    width: 100%;
    height: auto;
}

.border-left {
    border: 0px !important;
    position: relative;
}

.border-left a::after {
    content: " ";
    display: block;
    position: absolute;
    height: 15px;
    width: 100%;
    bottom: 0;
    border-left: 1px solid #fff;
    top: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 1px;
}

.rotate i {
    transform: rotate(100deg);
}

.drag ul li a {
    color: #fff;
    font-size: 1rem;
    padding: 13px 30px;
}

.drag ul li:hover {
    background-color: #4ca115;
}

.active {
    background-color: #4ca115;
}

.poi span {
    background-color: #ef1111;
    margin: 0 5px;
    padding: 2px 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    display: inline-block;
    font-size: 8px;
    position: relative;
    top: -13px;
    left: -13px;
}

/* top header css ends here */

/* custom css starts here*/
.header-main{
    background-color: #fefefe;
}
.header-main .brand-logo{
    width: 100px
}
.header-main .brand-logo img{
    width: 100%;
    height: auto;
}


/* .txt-img {
    top: 50%;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
    width: 100%;
    display: block;
    right: 30%;
    left: 0;
    text-align: center;
    position: absolute !important;
    color: #fff;
    font-size: 1.5rem;
} */
.txt-img{
    top: 38%;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
    width: 100%;
    display: block;
    right: 30%;
    left: 0;
    text-align: center;
    position: absolute !important;
    color: #fff;
    font-size: 1.5rem;
    left: -23%;
}


.txt-p {
    margin: 15px 0;
    font-size: 1.2rem;
}

.idea-main {
    background: #000;
    padding: 20px;
}

.idea-main h2 {
    font-size: 2.3rem;
    color: #fff;
}

.idea-main h2 span {
    color: #3d882f;
}

.idea-main p {
    color: #fff;
    font-size: 1.6rem;
}

.hand-container {
    background-image: radial-gradient( circle at bottom center, #f5f5f5, #fff 50%);
}

.hand-img {
    width: 150px;
    height: auto;
    border: 0px;
}

.parallax.section {
    background-image: url(../../assets/pngs/number_count.jpg);
    /*background-position: -5px -7.00751px;*/
    display: block;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: sub;
    width: 100%;
    z-index: 2;
    padding: 90px 0;
    background-size: cover;
}

.round {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 30px 16px;
    color: #fff;
}

.round img {
    width: 100%;
    max-width: 85px;
}

.round p {
    margin: 1rem auto;
    font-size: 1.8rem;
}

.round p span {
    border-bottom: 1px solid #3d882f;
}

.btn-outline-secondary{
    padding: 10px 50px;
    border: 2px solid #fff;
    font-size: 1.6rem;
    border-radius: 60px;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.foot-links{
    list-style: none;
    padding: 0;
}
.foot-links li{
    padding: 10px 0 0px;
}

ul.nav-list.list a{
    color: #000;
}

.foot-com{
    margin-top: 2em;
    bottom: 0;
    right: 0;
}
.foot-com h6{
    margin-left: 20%;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 400;
}

.footer-lower{
    /* padding: 20px 0 0 0; */
    /* margin-top: 5em; */
}

.footer-lower img{
    width: 40px;
    height: auto;
    border-radius: 5px;
}

.footer-lower li{
    padding: 7px 25px;
    font-size: 0.9rem;
}
.float-right li{
    padding: 0px 25px;
}
.float-right li a{
    font-size: 0.9rem;
}
.bottomSocialMedia img{
    height: 20px;
    width: 20px;
}
/* @include media-breakpoint-up(xs){
.head{
        font-size:20px;
    }
} */

/* media queries */

/********************* 120 width   ****************************/

@media only screen and (min-width: 120px) {
    .head {
        font-size: 20px;
    }
    .align img {
        width: 168px;
        height: 148px;
    }
    .img-css {
        padding: 9px 1px 14px 29px;
    }
    .state {
        top: 89%;
        -webkit-transform: translatey(-50%);
        transform: translatey(-91%);
        width: 100%;
        max-width: 176px;
        right: -62px;
        left: 0;
        margin: 0 auto;
    }
    .state1 {
        top: 79%;
        -webkit-transform: translatey(-50%);
        transform: translatey(-50%);
        width: 100%;
        max-width: 105px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .state4 {
        top: 70%;
        transform: translatey(-50%);
        width: 100%;
        max-width: 200px;
        right: 0;
        left: 70%;
        margin: 0 auto;
    }
    .state3 {
        top: 70%;
        transform: translatey(-50%);
        width: 100%;
        max-width: 200px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .pad {
        margin: 2px;
        padding: 0px 0px;
        font-size: 12px;
    }
    .book {
        color: white;
        font-size: 10px;
    }
}

/********************* 576 width   ****************************/

@media only screen and (min-width: 576px) {
    .head {
        font-size: 30px;
    }
    .align img {
        width: 211px;
        height: 199px;
    }
    .img-css {
        padding: 0 0 0 0;
    }
    .pad {
        margin: 7px;
        padding: 6px 12px;
    }
   
    .state {
        top: 70%;
        transform: translatey(-50%);
        width: 100%;
        max-width: 200px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .state1 {
        top: 70%;
        transform: translatey(-50%);
        width: 100%;
        max-width: 200px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .book {
        color: white;
        font-size: 24px;
    }
    .state4 {
        top: 70%;
        transform: translatey(-50%);
        width: 100%;
        max-width: 200px;
        right: 0;
        left: 70%;
        margin: 0 auto;
    }
    .state3 {
        top: 70%;
        transform: translatey(-50%);
        width: 100%;
        max-width: 200px;
        right: 30%;
        left: 0;
        margin: 0 auto;
    }
    .pad {
        margin: 2px;
        padding: 0px 0px;
        font-size: 14px;
    }
}

/********************* 768 width   ****************************/

@media only screen and (min-width: 768px) {
    .head {
        font-size: 30px;
    }
    .align img {
        width: 211px;
        height: 199px;
    }
    .state {
        top: 70%;
        transform: translatey(-50%);
        width: 100%;
        max-width: 200px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .state3 {
        top: 70%;
        transform: translatey(-50%);
        width: 100%;
        max-width: 200px;
        right: 27%;
        left: 0;
        margin: 0 auto;
    }
    .state4 {
        top: 70%;
        transform: translatey(-50%);
        width: 100%;
        max-width: 200px;
        right: 0;
        left: 35%;
        margin: 0 auto;
    }
    .pad {
        padding: 19px 45px;
        border: 2px solid white;
        font-size: 22px;
    }
    .state1 {
        top: 82%;
        -webkit-transform: translatey(-50%);
        transform: translatey(-50%);
        width: 100%;
        max-width: 200px;
        right: 260px;
        left: 0;
        margin: 0 auto;
    }
    .pad {
        margin: 2px;
        padding: 3px 15px;
        font-size: 20px;
        border-radius: 0.2in;
    }
    .book {
        color: white;
        font-size: 24px;
    }
    .triangle-down {
        width: 50px;
        height: auto;
        border-left: 57px solid transparent;
        border-right: 57px solid transparent;
        border-top: 50px solid black;
        float: right;
        right: 40px;
    }
    .triangle-container {
        width: 90%;
        display: inline-block;
    }
    .container1 {
        width: 576;
        margin: 0 auto;
    }
    /********************* 1024 width   ****************************/
    @media only screen and (min-width: 1024px) {
        .head {
            font-size: 35px;
        }
        .align img {
            width: 251px;
            height: 217px;
        }
        .state {
            top: 70%;
            transform: translatey(-50%);
            width: 100%;
            max-width: 200px;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
        .state3 {
            /* top: 70%;
            transform: translatey(-50%);
            width: 100%;
            max-width: 200px;
            right: 30%;
            left: 0;
            margin: 0 auto; */
            top: 72%;
            -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
            width: 100%;
            max-width: 200px;
            right: 71%;
            left: 0;
            margin: 0 auto;
        }
        }
        .state4 {
            /* top: 70%;
            transform: translatey(-50%);
            width: 100%;
            max-width: 200px;
            right: 0;
            left: 35%;
            margin: 0 auto; */
             
                top: 72%;
                -webkit-transform: translatey(-50%);
                transform: translatey(-50%);
                width: 100%;
                max-width: 200px;
                right: 0;
                left: -22%;
                margin: 0 auto;
            
        }
        .pad {
            padding: 10px 50px;
            border: 2px solid #fff;
            font-size: 1.6rem;
            border-radius: 60px;
        }
        .state1 {
            top: 70%;
            transform: translatey(-50%);
            width: 100%;
            max-width: 200px;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
        .triangle-down {
            width: 0;
            height: 0;
            border-left: 57px solid transparent;
            border-right: 57px solid transparent;
            border-top: 50px solid black;
            float: right;
        }
        .container1 {
            width: 768px;
            margin: 0 auto;
        }
    
}

.poi {
    cursor: pointer;
}