<div class="">
  
  <div class="position-relative">

    <img class="img-fluid" src="../../assets/login/newone.jpg" alt="Chania">
    <div class="txt-img">
      <!-- <p class="dd first">Don't dirty it in</p>
     <span> <p class="second">the  FIRST PLACE</p></span>
      <h1 class="third"><b>LET'S RECYCLE</b> now</h1> -->
      <p class="ll"> <span style="padding:0 13px 0 0;"> Don't dirty it in </span> <br> <span class="dd">  the FIRST PLACE</span> <br> <span style="padding: 0 0 0 72px;"><b>LET'S RECYCLE</b> now</span></p>
    </div>


    <div class="position-absolute state3">
      <button class="btn btn-outline-secondary pad">
        <a routerLink="/design" class="a" style="color:white;text-decoration: none;">Login</a></button>
    </div>
    <div class="position-absolute state4">
      <button class="btn btn-outline-secondary pad">
        <a routerLink="/signup" style="color:white;text-decoration: none;">Signup</a></button>
    </div>
  </div>
  <!----Blocks of data --------------------->
  <div class="">
    <div class="text-center">
      <p class="txt-p"> Read about recycling process </p>
      <h1 class="head">WHAT AND HOW TO RECYCLE</h1>
    </div>
    <div class="container  space">
      <div class="card col-md-4 align">
        <a routerLink="/content">
          <img class="card-img-top rounded-circle " src="../../assets/newimg/2.png" alt="Card image" class="img-css">
        </a>
        <p> Recycling</p>

      </div>
      <div class="card col-md-4 align">
        <a routerLink="/content">
          <img class="card-img-top rounded-circle " src="../../assets/newimg/3.png" alt="Card image" class="img-css">
        </a>
        <p> Recycling</p>
      </div>
      <div class="card col-md-4 align">
        <a routerLink="/content">
          <img class="card-img-top rounded-circle " src="../../assets/newimg/4.png" alt="Card image" class="img-css">
        </a>
        <p> Recycling</p>

      </div>
      <div class="row justify-content-md-center">
        <div class="card col-md-4 align" id="card">
          <a routerLink="/content">
            <img class="card-img-top rounded-circle " src="../../assets/newimg/5.png" alt="Card image" class="img-css">
          </a>
          <p> Recycling</p>
        </div>
        <div class="card col-md-4 align" id="card">
          <a routerLink="/content">
            <img class="card-img-top rounded-circle " src="../../assets/newimg/6.png" alt="Card image" class="img-css">
          </a>
          <p> Recycling</p>
        </div>
      </div>
    </div>

  </div>

  <!------------ after blocks  --------------------------->


  <div class="text text-center idea-main">
    <h2>A New <span> IDEA</span></h2>
    <P> How and Why Reboxit</P>

  </div>
  <div class="container">
    <div class="triangle-container">
      <div class="triangle-down"></div>
    </div>

  </div>

  <!------------- hand & content ------------------------->


  <div class="hand-container container">

    <div class="clearfix">

      <img src="../../assets/newimg/7.png" alt="hand" class="img-thumbnail float-right hand-img" />
      <p class="hand1"> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using
        'Content here, content here', making it look like readable English.

        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>

      <p class="hand1">
        Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        content here', making it look like readable English.
      </p>
    </div>



  </div>

  <!-------------hands images-------------->

  <div class="parallax section">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="round">
            <span> <img src="../../assets/pngs/glass_home.png" /></span>
            <p class="stat_count"><span>2846</span></p>
            <h3>Tons Glass</h3>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="round">
            <span> <img src="../../assets/pngs/plastic_home.png" /></span>
            <p class="stat_count"><span>1576</span></p>
            <h3>Tons Plastic</h3>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="round">
            <span> <img src="../../assets/pngs/paper_home.png" /></span>
            <p class="stat_count"><span>1700</span></p>
            <h3>Tons Paper</h3>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="round">
            <span> <img src="../../assets/pngs/iron_home.png" /></span>
            <p class="stat_count"><span>500</span></p>
            <h3>Tons Iron</h3>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!----------------van------------------->

  <div class="position-relative">

    <img class="img-fluid" src="../../assets/newimg/9.png" alt="Chania">

    <div class="position-absolute state1">
      <button class="btn btn-outline-secondary pad1">

        <a routerLink="/design" style="color:white;text-decoration:none;">Book a pickup</a>
      </button>
    </div>
  </div>

  <!----------------footer----------------->

  <!-- <footer class="section footer-classic context-dark bg-image bg">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-3 foot ">

          <h5>Associates</h5>

          <ul class="foot-links">
            <li>Scrap Dealer</li>
            <li>Aggregator</li>
            <li>Recycler</li>
          </ul>


        </div>

        <div class="col-sm-3 foot">
          <h5>Service</h5>

          <ul class="foot-links">
            <li>Home</li>
            <li>Shop/Mall</li>
            <li>Institutions</li>
            <li>Banks</li>
            <li>Corporate Office</li>
            <li>Other Business</li>
          </ul>


        </div>


        <div class="col-md-6 ">
          <div style="display:flex; flex-direction:column" class="arraneInColumn">
            <ul class="nav-list list float-right">
              <li><a href="#">About us</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">FAQ's</a></li>
            </ul>
            
          <div class="foot-com">
            <h6>Reboxit Pvt. Ltd.</h6>
            <ul class="nav-list list">
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>

            </ul>
          </div>
        </div>
        </div>
        <div style="margin-top:1em center" class="bottomSocialMedia">
          <ul class="nav-list list">
            <li class="pi-right"><a href="#"> <img src="../../assets/pngs/instagarm.png" /> </a></li>
            <li class="pi"><a href="#"><img src="../../assets/pngs/facebook.png" /></a></li>
            <li class="pi"><a href="#"> <img src="../../assets/pngs/linkdin.png" /></a></li>
            <li class="pi-right txt-rght"><a href="">Follow Us</a></li>
          </ul>
        </div> -->
      <!-- </div>
      <div class="row footer-lower justify-content-md-center">

        <div class="col-md-6">
          <ul class="nav-list list">
            <li class="pi-right"><a href="#"> <img src="../../assets/pngs/instagarm.png" /> </a></li>
            <li class="pi"><a href="#"><img src="../../assets/pngs/facebook.png" /></a></li>
            <li class="pi"><a href="#"> <img src="../../assets/pngs/linkdin.png" /></a></li>
            <li class="pi-right txt-rght"><p>Follow Us</p></li>

          </ul>
        </div>


      </div>
    </div>
  </footer> --> 
  <!-- footer -->
  <app-footer></app-footer>
</div>