<div class="">


  <div class="container">

    <div class="page-title">
      <h4 class="text-center text-uppercase">{{title}}</h4>
    </div>
    <!----sub collection starts -->


    <div class="row text-center">
      <div *ngFor="let m of subcats" class="col-sm-4 p-tb-4">

        <div class="subcat-thumbnail">

          <div class="row">
            <div class="col-sm-12">
              <img src="{{m[3]}}" class="img-responsive border border-primary" width="100%">
            </div>
            <div class="col-sm-12 subcats-des">
              <span class="subcats-title">{{m[0]}}</span>
              <span style="font-weight:bold; font-size: 0.8em" class="subcats-price">(Rs 10 per Kg)</span>
            </div>

          </div>

          <div class="row row-width">
            <div class="col-sm-5">
              <div class="subcats-txt">Estimated Qty</div>
              <div class="row bodered">
                <b class="col-sm-4" (click)="decreaseValue(m)">-</b>
                <input type="number" class="col-sm-4" value={{m[2]}} [(ngModel)]="m[2]">
                <b class="col-sm-4 " (click)="increaseValue(m)">+</b>
              </div>
            </div>
            <div class="col-sm-2"></div>

            <div class="col-sm-5">
              <div class="subcats-txt">Estimated Price</div>
              <div class="bodered">
                {{m[1]*m[2]}}
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="text-center btm-buttons">
      <button (click)="addMore()" class="add-more">+Add more</button>
    </div>
    <div class="text-center btm-buttons">
      <button style="text-transform: capitalize;text-decoration: none;" class="btn btn-success" (click)="proceedToCart()">Proceed to Pickup</button>
    </div>
   
    

  </div>