<div class="container-fluid">
  <div class="">
      <h3 class="text-center hd">DAILY LOG SHEET</h3>
  </div>

  <!-- form starts here -->
  <div class="row hd" >
    <div class="col-md-3">  </div>
      <div class="col-md-6">
          <form>
              <div class="form-row">
                  <div class="form-group col-md-6">
               
                      <select id="inputState" class="form-control">
                        <option selected>Select Vehicle ID</option>
                        <option>SAT-0001</option>
                        <option>SAT-0002</option>
                        <option>SAT-0003</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
               
                        <select id="inputState" class="form-control" placeholder="">
                          <option selected>Vehicle Regn</option>
                          <option>Ramnagar</option>
                          <option>Narayanguda</option>
                        </select>
                      </div>
                  <div class="form-group col-md-6">
                
                    <input type="date" class="form-control" id="inputEmail4" placeholder="Date">
                  </div>
                
              </div>
             
               
               
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        
      </div>
      <div class="col-md-3"></div>
  
  </div>
 

<!-- table starts here -->


   <div class="" style="margin:2.5%;">
      <div class="row">
          <table class="table table-sm table-bordered border  ">
             <thead class="table-active"> 
                <tr>
                        <th scope="col" class="cl">Date</th>
                        <th scope="col" class="cl">Ward Number</th>
                        <th scope="col" class="cl">Sat Id</th>
                        <th scope="col" class="cl">Sat Reg No</th>
                        <th scope="col" class="cl">Sat Driver Name</th>
                        <th scope="col" class="cl">Sat Phone</th>
                        <th scope="col" class="cl" >Total HH</th>
                        <th scope="col" class="cl">Total Shops</th>
                        <th scope="col" class="cl">Total HH covered</th>
                        <th scope="col" class="cl" >Total HH not covered</th>
                        <th scope="col" class="cl">No of HH Segregating Waste</th>
                        <th scope="col" class="cl">No of HH not Segregating Waste</th>
                        <th scope="col" class="cl">No of HH not given any Waste</th>
                        <th scope="col" class="cl">No of HH given only dry Waste</th>
                        <th scope="col" class="cl">No of HH with door locked</th>
                        <th scope="col" class="cl">No of HH with empty bins</th>
                        <th scope="col" class="cl">Total Waste</th>
                        <th scope="col" class="cl">Total Dry Waste</th>
                        <th scope="col" class="cl">Total Wet/ Mixed Waste</th>
                </tr>
              </thead> 
              <tbody>
                <tr>
                 <td>1-02-2019</td>
                 <td>3</td>
                 <td>SAT-OOO1</td>
                 <td>DFDF454</td>
                 <td>Ramesh</td>
                 <td>9595959595</td>
                 <td>56</td>
                 <td>45</td>
                 <td>12</td>
                 <td>12</td>
                 <td>12</td>
                 <td>12</td>
                 <td>12</td>
                 <td>12</td>
                 <td>12</td>
                 <td>12</td>
                 <td>13</td>
                 <td>450</td>
                 <td>560</td>
  
                </tr>
                <tr>
                    <td>1-02-2019</td>
                    <td>3</td>
                    <td>SAT-OOO1</td>
                    <td>DFDF454</td>
                    <td>Ramesh</td>
                    <td>9595959595</td>
                    <td>56</td>
                    <td>45</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>13</td>
                    <td>450</td>
                    <td>560</td>
     
                   </tr>
                   <tr>
                      <td>1-02-2019</td>
                      <td>3</td>
                      <td>SAT-OOO1</td>
                      <td>DFDF454</td>
                      <td>Ramesh</td>
                      <td>9595959595</td>
                      <td>56</td>
                      <td>45</td>
                      <td>12</td>
                      <td>12</td>
                      <td>12</td>
                      <td>12</td>
                      <td>12</td>
                      <td>12</td>
                      <td>12</td>
                      <td>12</td>
                      <td>13</td>
                      <td>450</td>
                      <td>560</td>
       
                     </tr>
                     <tr>
                        <td>1-02-2019</td>
                        <td>3</td>
                        <td>SAT-OOO1</td>
                        <td>DFDF454</td>
                        <td>Ramesh</td>
                        <td>9595959595</td>
                        <td>56</td>
                        <td>45</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>13</td>
                        <td>450</td>
                        <td>560</td>
         
                       </tr>
              </tbody>
             
            </table>
       
    </div>
   </div>
  </div>







