/* logo && navigation*/

.bg1 {
    background: #3c8a2e;
}

.poi {
    cursor: pointer;
}

/* Cards align*/

.align {
    width: 150px;
    height: 150px;
}

/* top header css */

.header-main {
    background-color: #fefefe;
}

.header-main .brand-logo {
    width: 100px
}

.header-main .brand-logo img {
    width: 100%;
    height: auto;
}

.border-left {
    border: 0px !important;
    position: relative;
}

.border-left a::after {
    content: " ";
    display: block;
    position: absolute;
    height: 15px;
    width: 100%;
    bottom: 0;
    border-left: 1px solid #fff;
    top: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 1px;
}

.rotate i {
    transform: rotate(100deg);
}

.drag ul li a {
    color: #fff;
    font-size: 1rem;
    padding: 13px 30px;
}

.drag ul li:hover {
    background-color: #4ca115;
}

.active {
    background-color: #4ca115;
}

.poi span {
    background-color: #ef1111;
    margin: 0 5px;
    padding: 2px 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    display: inline-block;
    font-size: 8px;
    position: relative;
    top: -13px;
    left: -13px;
}

/* top header css ends here */

.head-cart-count li {
    display: inline-block;
}

.head-cart-count {
    margin: 1em auto;
    list-style: none;
    width: 100%;
    text-align: center;
}

.head-cart-count .num span {
    background: #e5e7e4;
    display: block;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    min-width: 30px;
    min-height: 30px;
}

.head-cart-count .num.active span {
    background: #3c8a2e;
}

.head-cart-count .dots::after {
    content: "......";
    position: relative;
    top: -5px;
}

h4 {
    text-align: center;
    font-size: 1rem;
}
/*
h4::before {
    content: '';
    width: 40px;
    height: 2px;
    background-color: rgb(33, 37, 41);
    position: relative;
    display: inline-block;
    top: -4px;
    margin-right: 15px;
}

h4::after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: rgb(33, 37, 41);
    position: relative;
    display: inline-block;
    top: -4px;
    margin-left: 15px;
}

*/

.borderless td {
    border: none;
}

.tab-btm {
    border-bottom: 1px solid #000;
}

.btn-btem {
    margin: 30px auto;
}

.add-more{
    border: none;
    background-color: transparent;
    font-weight: 700;
    margin: 0px 20px;
    font-size: 1.1em;
  }

.btn-btem a {
    color: #000;
    margin-left: 1.3rem;
}

.table thead th {
    color: #000;
}


.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #3c8a2e;
    margin: 15px;
    border-radius: 50px;
    background-size: 20px 20px;
    width: 30px;
    height: 30px;
}


.tableClass{
    width: 100%;
    margin-top: 2em;
}