<div class="">
  <div class="container">
       
      <!-- <ul class="progressbar">
          <li class="active">
           login
          </li>
          <li class="active">
            signup
         </li>
           <li class="active">
              pickup
           </li>
         
        </ul> -->
        <ul class=" list-unstyled multi-steps">
            <li class="is-active">
             login
            </li>
            <li class="active">
              signup
           </li>
             <li class="active">
                pickup
             </li>
           
          </ul>

       
        
  </div>
</div>