<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-sidebar w3-card w3-bar-block w3-black" style="width:15%">
  <h1>Reboxit</h1>
  <a  routerLink="/admin" class="w3-bar-item w3-button">User Pickups</a>
  <a  routerLink="/adminsdreqaggre" class="w3-bar-item w3-button">Scrap Dealer Request</a>
  <a  routerLink="/adminaggrereqrec" class="w3-bar-item w3-button">Aggregator Request</a>
  <a  routerLink="/adminrec" class="w3-bar-item w3-button">Recycler Request</a>
  <a  routerLink="/addlocation" class="w3-bar-item w3-button">Add a new location</a>
  <a  (click)="logout()" class="w3-bar-item w3-button">Logout</a>


</div>

<div style="margin-left:15%">

    <header class="w3-container w3-dark-grey text-center">
      <h1>Admin</h1>
    </header>
    <div class="table-responsive">

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Location</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Scrap Type</th>
                <th scope="col">Slot</th>
                <th scope="col">Estimated Wt</th>
                <th scope="col">Select Asssociate</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of pickup let idx=index">
                <td>{{i["name"]}}</td>
                <td>{{i["address"]}}</td>
                <td>{{i["location"]}}</td>
                <td>{{i["phone"]}}</td>
                <td>{{i["email"]}}</td>
                <td>{{i["scraptype"]}}</td>
                <td>{{i["slot"]}}</td>
                <td>{{i["totalwt"]}} Kgs</td>
                <td><button class="btn btn-warning" (click)="open(content,idx)">select</button></td>
                <td>
                  <button class="btn btn-primary" (click)="submit(idx)" [disabled]="!assSelect[idx]">Assign</button>
                </td>
              </tr>
            </tbody>
          </table>
      
    </div>

</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-row align-items-center">
              <div class="col-sm-6 my-1">
                <label class="control-label" for="asst">Associate Type</label>
                <select class="form-control form-control-sm" id="asst" name="asst" [(ngModel)]="uniType" (change)="updateList()">
                  <option *ngFor="let m of asstype" value={{m}}>{{m}}</option>
                </select>
              </div>


              <div class="col-sm-6 my-1">
                <label class="control-label" for="asstse">Associate</label>
                <select class="form-control form-control-sm" id="asstse" [(ngModel)]="uniAss" name="asst" (change)="updateAss()">
                  <option *ngFor="let m of option_meh" value={{m[0]}}>{{m[1]}}</option>
                </select>
              </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');">Save</button>
  </div>
</ng-template>