<div class="">
  <div class="">
    <img src="../assets/images/Categories/logo1.png">
  </div>
  <!-----Navigation Starts Here-->
  
  <nav class="navbar navbar-expand-sm navbar-light bg1">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse  drag" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item poi">
          <a class="nav-link" routerLink="/design" >Price List <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item poi">
          <a class="nav-link" routerLink="/design">Request Pickup</a>
        </li>
        <li class="nav-item poi">
            <a class="nav-link" routerLink="/design"> My Account</a>
        </li>
       
       <li class="nav-item poi">
          <a class="nav-link">Help</a>
     </li>
     <li class="nav-item poi">
          <a class="nav-link" ><i class="fas fa-phone"></i></a>
      </li>
      </ul>
    
    </div>
  </nav>

  <!-----Content of Recycling-->

 
 

  </div>