<div class="">
  <!-- body content starts here-->
  <div class="box-container-main">


    <div class="container">
      <div class="box-container">

        <div class="row">
          <div class="col-md-12">
            <h1>Reboxit Scrap Prices</h1>
          </div>
        </div>



        <div class="row">

          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="../assets/pngs/carton_boxes.png" />
                  <div class="caption">
                      <p><span class="cpt-head">Carton Boxes</span>
                      <span class="cpt-sm">Rs 10 per KG</span>
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="../assets/pngs/newspapers_magazines.png" />
                  <div class="caption">
                      <p><span class="cpt-head">Newspapers & Magazines</span>
                      <span class="cpt-sm">Rs 10 per KG</span>
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="../assets/pngs/tetra_pack.png" />
                  <div class="caption">
                      <p><span class="cpt-head">Tera Packs</span>
                      <span class="cpt-sm">Rs 10 per KG</span>
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="../assets/pngs/text_books.png" />
                  <div class="caption">
                      <p><span class="cpt-head">Text Books & Note Books</span>
                      <span class="cpt-sm">Rs 10 per KG</span>
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="../assets/pngs/other_bits_pieces.png" />
                  <div class="caption">
                      <p><span class="cpt-head">Other Bits & Pieces</span>
                      <span class="cpt-sm">Rs 10 per KG</span>
                      </p>
                  </div>
              </div>
          </div>


        </div>





      </div>

    </div>

  </div>

  <!-- body content ends here-->


</div>