/* logo && navigation*/

.main-height {
    height: 100%;
}

.bg {
    background: url("../../assets/login/signup.jpg") no-repeat bottom right;
    width: 100%;
    /* height: calc(100% - 118px);
     height: -webkit-calc(100% - 118px); */
    height: 100%;
    background-size: cover;
}

.bg1 {
    background: #3d882f;
}



/* container of background*/

.form-container {
    border: 1px solid;
    padding: 50px 60px;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.8);
}

.add {
    padding: 36px 0 0 0;
}

.poi {
    cursor: pointer;
}


/* custom css starts here */

/* top header css */
.header-main{
    background-color: #fefefe;
}
.header-main .brand-logo{
    width: 100px
}
.header-main .brand-logo img{
    width: 100%;
    height: auto;
}
.border-left{
    border: 0px !important;
    position: relative;
}
.border-left a::after {   
    content: " ";
    display: block;
    position: absolute;
    height: 15px;
    width: 100%;
    bottom: 0;
    border-left: 1px solid #fff;
    top: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 1px;
}

.rotate i{
    transform: rotate(100deg);
}

.drag ul li a {
    color: #fff;
    font-size: 1rem;
    padding: 13px 30px;
}

.drag ul li:hover{
    background-color: #4ca115;
}

.active  {
    background-color: #4ca115;
}

/* top header css ends here */

h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.6rem;
}

.psw {
    float: right;
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    /* margin-bottom: 1rem; */
}

.btm-txt {
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
    margin: 0.6em;
    color: rgba(0, 0, 0, .6);
}
   
.signUp {
    color: #3c8a2e;
    text-decoration: none;
    font-weight: 500;
}
.btn.btn-success{
    font-size: 1.2rem;
}

input::placeholder{
    color: gray;
}


.btn:focus {outline:0;}
