<div class="">
  <div class="header-main">
    <div class="container">
      <div class="brand-logo">
        <a routerLink="/landing"> <img src="../assets/images/Categories/logo.png"></a>
      </div>
    </div>
  </div>


  <!-----------Navigation Starts Here-->

  <nav class="navbar navbar-expand-sm navbar-light bg1">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse  drag" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/design">Assigned Pickups</a>
          </li>
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/design">Alloted Drops</a>
          </li>
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/associate">Request Admin</a>
          </li>
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/design"> Request Aggregator</a>
          </li>

          <li class="nav-item poi">
            <a class="nav-link">My Sheets</a>
          </li>

          <li class="nav-item poi">
            <a class="nav-link" routerLink="/"> History</a>
          </li>

          <li class="nav-item poi">
            <a class="nav-link" (click)="logout()"> Logout</a>
          </li>

          <li class="nav-item poi border-left">
            <a class="nav-link rotate"><i class="fa fa-phone"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>



  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Company Name</th>
          <th scope="col">Paper</th>
          <th scope="col">Plastic</th>
          <th scope="col">Glass</th>
          <th scope="col">E-Waste</th>
          <th scope="col">Cartons</th>
          <th scope="col" class="text-center">Price</th>
        </tr>
      </thead>
      <tbody>


        <tr>
          <td>10-10-2019</td>
          <td>Pranavi</td>
          <td>Pranavi&Co.</td>
          <td>50Kg</td>
          <td>50Kg</td>
          <td>50Kg</td>
          <td>25 Number</td>
          <td>50Kg</td>
          <td class="text-center">Rs 520 .00/-</td>
        </tr>


        <tr>
          <td>10-10-2019</td>
          <td>Pranavi</td>
          <td>Pranavi&Co.</td>
          <td>50Kg</td>
          <td>50Kg</td>
          <td>50Kg</td>
          <td>25 Number</td>
          <td>50Kg</td>
          <td class="text-center">Rs 520 .00/-</td>
        </tr>


        <tr>
          <td>10-10-2019</td>
          <td>Pranavi</td>
          <td>Pranavi&Co.</td>
          <td>50Kg</td>
          <td>50Kg</td>
          <td>50Kg</td>
          <td>25 Number</td>
          <td>50Kg</td>
          <td class="text-center">Rs 520 .00/-</td>
        </tr>

      </tbody>
    </table>



    <div class="text-center">
      <p><span class="circle-plus"><i class="fa fa-plus" aria-hidden="true"></i></span></p>
    </div>


  </div>